<div class="box">
  <div class="box-header">
    <h3 class="box-title">Sample Detail (<%= number_with_precision(@sample.duration, :precision => 2) %>ms)</h3>
  </div>
  <div class="box-body">
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#sample-overview" data-toggle="tab">Overview</a></li>
        <% if @sample.payload["source"].present? %>
        <li><a href="#sample-source" data-toggle="tab">Source</a></li>
        <% end %>
        <% if (backtrace = @sample.backtrace) && backtrace.backtrace.present? %>
        <li><a href="#sample-backtrace" data-toggle="tab">Backtrace</a></li>
        <% end %>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="sample-overview">
          <% @sample.attributes.each_pair do |key, value| %>
            <div>
              <%= key %>:
              <% if value.is_a?(Hash) %>
                <% value.except("source").each_pair do |subkey, subvalue| %>
                <div>&nbsp;&nbsp;&nbsp;&nbsp;<%= subkey %>: <%= subvalue %></div>
                <% end %>
              <% else %>
                <% if key.eql?("timestamp") %>
                  <%= value.to_f * 1000 %>
                <% else %>
                  <%= value.inspect %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
        <% if @sample.payload["source"].present? %>
          <div class="tab-pane" id="sample-source">
            <%= render "shared/render_source", :source => @sample.payload["source"] %>
          </div>
        <% end %>
        <% if backtrace.present? %>
        <div class="tab-pane" id="sample-backtrace">
          <pre class="text-wrap"><%= backtrace.backtrace.join("\n") %></pre>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
