<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <h4>Overview</h4>
  </div>
</div>
<div class="row">
  <div class="small-8 medium-8 large-8 columns">
    <div class="row">
      <div class="small-12 medium-12 large-12 columns">
        <h6>Average Request Time</h6>
        <div id="average-duration_chart" class="dynamic-chart" data-height="300px" data-url="<%= application_report_path(@current_application, :id => "average_duration", :filter => @filter, :transaction_id => @transaction_id) %>" data-duration="15000">
          <i class="fa fa-spinner fa-spin fa-5x"></i>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-8 medium-8 large-8 columns">
        <h6>Memory Usage</h6>
        <div id="memory_physical_chart" class="dynamic-chart" data-height="300px" data-url="<%= application_report_path(@current_application, :id => "memory_physical", :filter => @filter, :transaction_id => @transaction_id) %>" data-duration="15000">
          <i class="fa fa-spinner fa-spin fa-5x"></i>
        </div>
      </div>

      <div class="small-4 medium-4 large-4 columns">
        <h6>Errors</h6>
        <div id="errors_chart" class="dynamic-chart" data-height="300px" data-url="<%= application_report_path(@current_application, :id => "errors", :filter => @filter, :transaction_id => @transaction_id) %>" data-duration="15000">
          <i class="fa fa-spinner fa-spin fa-5x"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="small-4 medium-4 large-4 columns">
    <% if false %>
    <div class="row">
      <div class="small-12 medium-12 large-12 columns">
        <table>
          <tbody>
            <% @hosts.each do |host| %>
              <tr>
                <td><%= host.name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <% end %>
    <div class="row">
      <div class="small-12 medium-12 large-12 columns">
        <table>
          <tbody>
            <% @transactions.each do |transaction| %>
              <tr>
                <td>
                  <%= transaction.name %><br />
                  <% transaction.root_transaction_sample_data.order(:duration).reverse_order.limit(3).each do |sample| %>
                    <%= link_to "#{sample.duration}s", application_transaction_sample_path(@current_application, transaction, sample) %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-8 medium-8 large-8 columns">
    <h4>Transactions (Most consuming)</h4>
    <table>
    <% @time_consuming_transactions.each do |transaction| %>
      <tr>
        <td><%= link_to transaction.name, application_transaction_path(@current_application, transaction) %></td>
        <td width="65%">
          <div class="progress">
            <span class="progress-meter" style="width: <%= number_to_percentage(transaction.total_time_spent / @total_time_spent * 100) %>">
              <p class="progress-meter-text"><%= number_to_percentage(transaction.total_time_spent / @total_time_spent * 100, :precision => 1) %></p>
            </span>
          </div>
        </td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
