<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Overview
  </h1>
  <ol class="breadcrumb breadcrumb-as-navigation">
    <li class="active">View Past:</li>
    <% Reporter::PAST_OPTIONS.each do |option| %>
    <li><%= link_to option[:label], dynamic_report_url(:_past => option[:past]) %></li>
    <% end %>
  </ol>

</section>

<% if selected_filters.present? %>
<section class="content-header">
  <% selected_filters.each_pair do |key, value| %>
    <%= link_to dynamic_report_url(:without => key), :class => "btn btn-info btn-sm", :title => value do %>
      <%= key %>: <%= truncate(value, :length => 40) %>
      <i class="fa fa-remove"></i>
    <% end %>
  <% end %>
</section>
<% end %>

<!-- Main content -->
<section class="content">
  <div class="row">
    <section class="col-lg-12 connectedSortable">
      <div class="box">
        <div class="box-header">
          <i class="fa fa-clock"></i>
          <h3 class="box-title">Average Request Time</h3>
        </div>
        <div class="box-body">
          <div id="average-request-time"
               style="height: 300px;"
               class="dynamic-chart"
               data-legend="#average-request-time-legend"
               data-url="<%= dynamic_report_url({}, { :controller => "reports", :action => "show", :application_id => @current_application, :id => "average_duration" }) %>"
               data-duration="15000"></div>
          <div id="average-request-time-legend" class="chart-legend"></div>
        </div>
      </div>
    </section>
  </div>

  <div class="row">
    <section class="col-lg-6 connectedSortable">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Urls</h3>
        </div>
        <div class="box-body" data-url="<%= dynamic_report_url({}, { :controller => "overview", :action => "urls" }) %>" data-remote="true"></div>
      </div>

      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Controllers</h3>
        </div>
        <div class="box-body" data-url="<%= dynamic_report_url({}, { :controller => "overview", :action => "controllers" }) %>" data-remote="true"></div>
      </div>

      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Hosts</h3>
        </div>
        <div class="box-body" data-url="<%= dynamic_report_url({}, { :controller => "overview", :action => "hosts" }) %>" data-remote="true"></div>
      </div>

      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Database Queries</h3>
        </div>
        <div class="box-body" data-url="<%= dynamic_report_url({}, { :controller => "overview", :action => "database_calls" }) %>" data-remote="true"></div>
      </div>
    </section>

    <section class="col-lg-6 connectedSortable">
      <div class="box">
        <div class="box-header">
          <i class="fa fa-clock"></i>
          <h3 class="box-title">Layers</h3>
        </div>
        <div class="box-body" data-url="<%= dynamic_report_url({}, { :controller => "overview", :action => "layers" }) %>" data-remote="true"></div>
      </div>

      <div class="box">
        <div class="box-header">
          <i class="fa fa-clock"></i>
          <h3 class="box-title">Traces (Most Consuming) </h3>
        </div>
        <div class="box-body" data-url="<%= dynamic_report_url({}, { :controller => "overview", :action => "traces" }) %>" data-remote="true"></div>
      </div>
      <!-- /.box -->
    </section>
  </div>
</section>
