<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Overview
  </h1>
  <ol class="breadcrumb breadcrumb-as-navigation">
    <li class="active">View Past:</li>
    <% Reporter::PAST_OPTIONS.each do |option| %>
    <li><%= link_to option[:label], dynamic_report_url(:past => option[:past]) %></li>
    <% end %>
  </ol>

</section>

<% if selected_filters.present? %>
<section class="content-header">
  <% selected_filters.each_pair do |key, value| %>
    <%= link_to dynamic_report_url(:without => key), :class => "btn btn-info btn-sm", :title => value do %>
      <%= key %>: <%= truncate(value, :length => 40) %>
      <i class="fa fa-remove"></i>
    <% end %>
  <% end %>
</section>
<% end %>

<!-- Main content -->
<section class="content">
  <div class="row">
    <section class="col-lg-12 connectedSortable">
      <div class="box">
        <div class="box-header">
          <i class="fa fa-clock"></i>
          <h3 class="box-title">Average Request Time</h3>
        </div>
        <div class="box-body">
          <div id="average-request-time"
               style="height: 300px;"
               class="dynamic-chart"
               data-legend="#average-request-time-legend"
               data-url="<%= dynamic_report_url({}, { :controller => "reports", :action => "show", :application_id => @current_application, :id => "average_duration" }) %>"
               data-duration="15000"
               data-unit="ms"></div>
          <div id="average-request-time-legend" class="chart-legend"></div>
        </div>
      </div>
    </section>
  </div>

  <div class="row">
    <section class="col-lg-6 connectedSortable">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Urls</h3>
          <div class="box-tools pull-right">
            <div class="btn-group" data-toggle="btn-toggle">
              <%= link_to "Freq X Avg", dynamic_report_url({}, { :controller => "overview", :action => "urls" }), :data => { :remote_element => "#urls", :order => "FreqAvg" }, :class => "btn btn-default btn-sm active" %>
              <%= link_to "Freq", dynamic_report_url({}, { :controller => "overview", :action => "urls" }), :data => { :remote_element => "#urls", :order => "Freq" }, :class => "btn btn-default btn-sm" %>
              <%= link_to "Avg", dynamic_report_url({}, { :controller => "overview", :action => "urls" }), :data => { :remote_element => "#urls", :order => "Avg" }, :class => "btn btn-default btn-sm" %>
            </div>
          </div>
        </div>
        <div id="urls" class="box-body" data-url="<%= dynamic_report_url({}, { :controller => "overview", :action => "urls" }) %>" data-remote="true"></div>
        <div class="box-footer">
          Show&nbsp;
          <%= link_to "10", dynamic_report_url({}, { :controller => "overview", :action => "urls" }), :data => { :remote_element => "#urls", :limit => 10 } %>&nbsp;&nbsp;
          <%= link_to "20", dynamic_report_url({}, { :controller => "overview", :action => "urls" }), :data => { :remote_element => "#urls", :limit => 20 } %>&nbsp;&nbsp;
          <%= link_to "50", dynamic_report_url({}, { :controller => "overview", :action => "urls" }), :data => { :remote_element => "#urls", :limit => 50 } %>
        </div>
      </div>

      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Controllers</h3>
          <div class="box-tools pull-right">
            <div class="btn-group" data-toggle="btn-toggle">
              <%= link_to "Freq X Avg", dynamic_report_url({}, { :controller => "overview", :action => "controllers" }), :data => { :remote_element => "#controllers", :order => "FreqAvg" }, :class => "btn btn-default btn-sm active" %>
              <%= link_to "Freq", dynamic_report_url({}, { :controller => "overview", :action => "controllers" }), :data => { :remote_element => "#controllers", :order => "Freq" }, :class => "btn btn-default btn-sm" %>
              <%= link_to "Avg", dynamic_report_url({}, { :controller => "overview", :action => "controllers" }), :data => { :remote_element => "#controllers", :order => "Avg" }, :class => "btn btn-default btn-sm" %>
            </div>
          </div>
        </div>
        <div id="controllers" class="box-body" data-url="<%= dynamic_report_url({}, { :controller => "overview", :action => "controllers" }) %>" data-remote="true"></div>
        <div class="box-footer">
          Show&nbsp;
          <%= link_to "10", dynamic_report_url({}, { :controller => "overview", :action => "controllers" }), :data => { :remote_element => "#controllers", :limit => 10 } %>&nbsp;&nbsp;
          <%= link_to "20", dynamic_report_url({}, { :controller => "overview", :action => "controllers" }), :data => { :remote_element => "#controllers", :limit => 20 } %>&nbsp;&nbsp;
          <%= link_to "50", dynamic_report_url({}, { :controller => "overview", :action => "controllers" }), :data => { :remote_element => "#controllers", :limit => 50 } %>
        </div>
      </div>

      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Hosts</h3>
          <div class="box-tools pull-right">
            <div class="btn-group" data-toggle="btn-toggle">
              <%= link_to "Freq X Avg", dynamic_report_url({}, { :controller => "overview", :action => "hosts" }), :data => { :remote_element => "#hosts", :order => "FreqAvg" }, :class => "btn btn-default btn-sm active" %>
              <%= link_to "Freq", dynamic_report_url({}, { :controller => "overview", :action => "hosts" }), :data => { :remote_element => "#hosts", :order => "Freq" }, :class => "btn btn-default btn-sm" %>
              <%= link_to "Avg", dynamic_report_url({}, { :controller => "overview", :action => "hosts" }), :data => { :remote_element => "#hosts", :order => "Avg" }, :class => "btn btn-default btn-sm" %>
            </div>
          </div>
        </div>
        <div id="hosts" class="box-body" data-url="<%= dynamic_report_url({}, { :controller => "overview", :action => "hosts" }) %>" data-remote="true"></div>
        <div class="box-footer">
          Show&nbsp;
          <%= link_to "10", dynamic_report_url({}, { :controller => "overview", :action => "hosts" }), :data => { :remote_element => "#hosts", :limit => 10 } %>&nbsp;&nbsp;
          <%= link_to "20", dynamic_report_url({}, { :controller => "overview", :action => "hosts" }), :data => { :remote_element => "#hosts", :limit => 20 } %>&nbsp;&nbsp;
          <%= link_to "50", dynamic_report_url({}, { :controller => "overview", :action => "hosts" }), :data => { :remote_element => "#hosts", :limit => 50 } %>
        </div>
      </div>

      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Database Queries</h3>
          <div class="box-tools pull-right">
            <div class="btn-group" data-toggle="btn-toggle">
              <%= link_to "Freq X Avg", dynamic_report_url({}, { :controller => "overview", :action => "database_calls" }), :data => { :remote_element => "#database_calls", :order => "FreqAvg" }, :class => "btn btn-default btn-sm active" %>
              <%= link_to "Freq", dynamic_report_url({}, { :controller => "overview", :action => "database_calls" }), :data => { :remote_element => "#database_calls", :order => "Freq" }, :class => "btn btn-default btn-sm" %>
              <%= link_to "Avg", dynamic_report_url({}, { :controller => "overview", :action => "database_calls" }), :data => { :remote_element => "#database_calls", :order => "Avg" }, :class => "btn btn-default btn-sm" %>
            </div>
          </div>
        </div>
        <div id="database_calls" class="box-body" data-url="<%= dynamic_report_url({}, { :controller => "overview", :action => "database_calls" }) %>" data-remote="true"></div>
        <div class="box-footer">
          Show&nbsp;
          <%= link_to "10", dynamic_report_url({}, { :controller => "overview", :action => "database_calls" }), :data => { :remote_element => "#database_calls", :limit => 10 } %>&nbsp;&nbsp;
          <%= link_to "20", dynamic_report_url({}, { :controller => "overview", :action => "database_calls" }), :data => { :remote_element => "#database_calls", :limit => 20 } %>&nbsp;&nbsp;
          <%= link_to "50", dynamic_report_url({}, { :controller => "overview", :action => "database_calls" }), :data => { :remote_element => "#database_calls", :limit => 50 } %>
        </div>
      </div>
    </section>

    <section class="col-lg-6 connectedSortable">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Layers</h3>
          <div class="box-tools pull-right">
            <div class="btn-group" data-toggle="btn-toggle">
              <%= link_to "Freq X Avg", dynamic_report_url({}, { :controller => "overview", :action => "layers" }), :data => { :remote_element => "#layers", :order => "FreqAvg" }, :class => "btn btn-default btn-sm active" %>
              <%= link_to "Freq", dynamic_report_url({}, { :controller => "overview", :action => "layers" }), :data => { :remote_element => "#layers", :order => "Freq" }, :class => "btn btn-default btn-sm" %>
              <%= link_to "Avg", dynamic_report_url({}, { :controller => "overview", :action => "layers" }), :data => { :remote_element => "#layers", :order => "Avg" }, :class => "btn btn-default btn-sm" %>
            </div>
          </div>
        </div>
        <div id="layers" class="box-body" data-url="<%= dynamic_report_url({}, { :controller => "overview", :action => "layers" }) %>" data-remote="true"></div>
        <div class="box-footer">
          Show&nbsp;
          <%= link_to "10", dynamic_report_url({}, { :controller => "overview", :action => "layers" }), :data => { :remote_element => "#layers", :limit => 10 } %>&nbsp;&nbsp;
          <%= link_to "20", dynamic_report_url({}, { :controller => "overview", :action => "layers" }), :data => { :remote_element => "#layers", :limit => 20 } %>&nbsp;&nbsp;
          <%= link_to "50", dynamic_report_url({}, { :controller => "overview", :action => "layers" }), :data => { :remote_element => "#layers", :limit => 50 } %>
        </div>
      </div>

      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Traces (Most Consuming)</h3>
        </div>
        <div id="traces" class="box-body" data-url="<%= dynamic_report_url({}, { :controller => "overview", :action => "traces" }) %>" data-remote="true"></div>
        <div class="box-footer">
          Show&nbsp;
          <%= link_to "10", dynamic_report_url({}, { :controller => "overview", :action => "traces" }), :data => { :remote_element => "#traces", :limit => 10 } %>&nbsp;&nbsp;
          <%= link_to "20", dynamic_report_url({}, { :controller => "overview", :action => "traces" }), :data => { :remote_element => "#traces", :limit => 20 } %>&nbsp;&nbsp;
          <%= link_to "50", dynamic_report_url({}, { :controller => "overview", :action => "traces" }), :data => { :remote_element => "#traces", :limit => 50 } %>
        </div>
      </div>
    </section>
  </div>
</section>
