<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Overview
  </h1>
  <ol class="breadcrumb breadcrumb-as-navigation">
    <li class="active">View Past:</li>
    <% Reporter::PAST_OPTIONS.each do |option| %>
    <li><%= link_to option[:label], dynamic_report_url(:_past => option[:past]) %></li>
    <% end %>
  </ol>

</section>

<% if selected_filters.present? %>
<section class="content-header">
  <% selected_filters.each_pair do |key, value| %>
    <%= link_to dynamic_report_url(:without => key), :class => "btn btn-info btn-sm", :title => value do %>
      <%= key %>: <%= truncate(value, :length => 40) %>
      <i class="fa fa-remove"></i>
    <% end %>
  <% end %>
</section>
<% end %>

<!-- Main content -->
<section class="content">
  <div class="row">
    <section class="col-lg-12 connectedSortable">
      <div class="box">
        <div class="box-header">
          <i class="fa fa-clock"></i>
          <h3 class="box-title">Average Request Time</h3>
        </div>
        <div class="box-body">
          <div id="average-request-time"
               style="height: 300px;"
               class="dynamic-chart"
               data-legend="#average-request-time-legend"
               data-url="<%= dynamic_report_url({}, { :controller => "reports", :action => "show", :application_id => @current_application, :id => "average_duration" }) %>"
               data-duration="15000"></div>
          <div id="average-request-time-legend" class="chart-legend"></div>
        </div>
      </div>
    </section>
  </div>

  <div class="row">
    <section class="col-lg-6 connectedSortable">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Urls</h3>
        </div>
        <div class="box-body">
          <table class="table">
            <tr>
              <th width="30%">Domain</th>
              <th>Url</th>
              <th width="100">Freq</th>
              <th width="100">Avg (ms)</th>
            </tr>
            <% @urls.each do |url| %>
              <tr>
                <td><%= link_to url.domain, dynamic_report_url(:domain => url.domain) %></td>
                <td class="ellipsis"><%= link_to url.url, dynamic_report_url(:url => url.url) %></td>
                <td><%= url.freq %></td>
                <td><%= number_with_precision(url.average, :precision => 2) %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>

      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Controllers</h3>
        </div>
        <div class="box-body">
          <table class="table">
            <tr>
              <th width="30%">Controller</th>
              <th>Action</th>
              <th width="100">Freq</th>
              <th width="100">Avg (ms)</th>
            </tr>
            <% @controllers.each do |controller| %>
              <tr>
                <td class="ellipsis"><%= link_to controller.controller, dynamic_report_url(:controller => controller.controller) %></td>
                <td class="ellipsis"><%= link_to controller.action, dynamic_report_url(:action => controller.action) %></td>
                <td><%= controller.freq %></td>
                <td><%= number_with_precision(controller.average, :precision => 2) %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>

      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Hosts</h3>
        </div>
        <div class="box-body">
          <table class="table">
            <tr>
              <th>Host</th>
              <th width="100">Freq</th>
              <th width="100">Avg (ms)</th>
            </tr>
            <% @hosts.each do |host| %>
              <tr>
                <td><%= link_to host.name, dynamic_report_url(:host => host.id) %></td>
                <td><%= host.freq %></td>
                <td><%= number_with_precision(host.average, :precision => 2) %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>

      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Database Queries</h3>
        </div>
        <div class="box-body">
          <table class="table">
            <tr>
              <th>Statement</th>
              <th width="100">Freq</th>
              <th width="100">Avg (ms)</th>
            </tr>
            <% @database_calls.each do |database_call| %>
              <tr>
                <td class="ellipsis"><%= link_to database_call.statement, dynamic_report_url(:sql => database_call.id) %></td>
                <td><%= database_call.freq %></td>
                <td><%= number_with_precision(database_call.average, :precision => 2) %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </section>

    <section class="col-lg-6 connectedSortable">
      <div class="box">
        <div class="box-header">
          <i class="fa fa-clock"></i>
          <h3 class="box-title">Layers</h3>
        </div>
        <div class="box-body">
          <table class="table">
            <tr>
              <th>Layer</th>
              <th width="100">Freq</th>
              <th width="100">Avg (ms)</th>
            </tr>
            <% @layers.each do |layer| %>
              <tr>
                <td><%= link_to layer.name, dynamic_report_url(:layer => layer.id) %></td>
                <td><%= layer.freq %></td>
                <td><%= number_with_precision(layer.average, :precision => 2) %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>

      <div class="box">
        <div class="box-header">
          <i class="fa fa-clock"></i>
          <h3 class="box-title">Transactions (Most Consuming) </h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table class="table">
          <% @traces.each do |trace| %>
            <tr>
              <td class="ellipsis"><%= link_to trace.arrange_samples.payload["url"], application_trace_path(@current_application, :id => trace.trace_key) %></td>
              <td width="100"><%= link_to "#{number_with_precision(trace.duration, :precision => 2)}s", application_trace_path(@current_application, :id => trace.trace_key) %></td>
              <td width="100" class="small"><%= time_ago_in_words(trace.timestamp) %> ago.</td>
            </tr>
          <% end %>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </section>
  </div>
</section>
