/ Content Header (Page header)
%section.content-header
  %h1
    Database
  %ol.breadcrumb
    %li.active Database
- if selected_filters.present?
  %section.content-header
    - selected_filters.each_pair do |key, value|
      = link_to dynamic_report_url(:without => key), :class => "btn btn-info btn-sm", :title => value do
        = key
        \: #{truncate(value, :length => 40)}
        %i.fa.fa-remove
%section.content
  .row
    .col-lg-12
      = paginate @database_calls
    .col-lg-12.connectedSortable
      .box
        .box-header
          %i.fa.fa-clock
          %h3.box-title Database Query Time
        .box-body
          #database-time.dynamic-chart{"data-duration" => "15000", "data-legend" => "#database-time-legend", "data-unit" => "ms", "data-url" => "#{dynamic_report_url({}, { :controller => "reports", :action => "show", :application_id => @current_application, :id => "database" })}", :style => "height: 300px;"}
          #database-time-legend.chart-legend
    .col-lg-12.connectedSortable
      .box
        .box-header
          %h3.box-title Name
        .box-body
          %table.table.table-condensed
            %tr
              %th Statement
              %th.text-center{:width => "200"} Duration (ms)
              %th{:width => "150"}
            - @database_calls.each do |database_call|
              %tr
                %td.ellipsis= link_to database_call.statement, organization_application_trace_path(@current_organization, database_call.application, database_call.database_sample.trace_key, :sample_id => database_call.database_sample.id)
                %td.text-center
                  = number_with_precision(database_call.duration, :precision => 2)
                %td.text-center
                  = time_ago_in_words(database_call.timestamp)
                  ago
