<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @application.user.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @application.name %>
</p>

<p>
  <strong>License key:</strong>
  <%= @application.license_key %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
