<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @application.name %>
</p>

<p>
  Add the following gem to your project:
<p>
<div>
  <pre>
    # Gemfile
    gem "app_perf_ruby_agent", :github => "randy-girard/app_perf_ruby_agent"
  </pre>
</div>

<p>
  Copy and paste the contents below into a file called <code>app_perf_ruby_agent.yml</code> into the root on your project:
</p>

<div>
  <pre>
    license_key: '<%= @application.license_key %>'
    app_name: '<%= @application.name %>'
    host: <%= @root_uri.host %>
    port: <%= @root_uri.port %>
    ssl: <%= @root_uri.scheme.eql?("https") %>
  </pre>


</div>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
