<tr>
  <td width="20"><%= transaction_sample_datum.id %></td>
  <td style="padding-left: <%= depth * 40 %>px;">
    <% if transaction_sample_datum.action.eql?("sql") %>
      <%= transaction_sample_datum.payload[:name] %><br />
      <%= transaction_sample_datum.payload[:sql] %>

    <% elsif transaction_sample_datum.action.eql?("render_template") %>
      <%= transaction_sample_datum.name %><br />
      <%= transaction_sample_datum.payload[:identifier] %>

    <% elsif transaction_sample_datum.action.eql?("render_partial") %>
      <%= transaction_sample_datum.name %><br />
      <%= transaction_sample_datum.payload[:identifier] %>
    <% else %>
      <%= transaction_sample_datum.name %><br />
    <% end %>
    <% if transaction_sample_datum.payload[:backtrace].present? %>
    <pre><%= transaction_sample_datum.payload[:backtrace].join("\n") %></pre>
    <% end %>
  </td>
  <td width="200">
    <div class="progress">
      <div class="progress-meter" style="width: <%= transaction_sample_datum.duration / @transaction_sample.duration * 100.to_f %>%"></div>
    </div>
  </td>
  <td width="50"><%= transaction_sample_datum.duration %></td>
</tr>
<%= render transaction_sample_datum.children, :depth => depth + 1 %>
