/ Content Header (Page header)
%section.content-header
  %h1
    = link_to "Hosts", dynamic_url(:hosts)
    >
    = @host.value

  %ol.breadcrumb.breadcrumb-as-navigation
    %li.active View Past:
    - Reporter::PAST_OPTIONS.each do |option|
      %li= link_to option[:label], dynamic_url(:host, id: @host, _past: option[:past])
  - if selected_filters.present?
    %section.content-header
      - selected_filters.each_pair do |key, value|
        = link_to dynamic_url(:host, id: @host, :without => key), :class => "btn btn-info btn-sm", :title => value do
          = key
          \: #{truncate(value, :length => 40)}
          %i.fa.fa-remove
/ Main content
%section.content
  .row
    .col-lg-12
      .row
        .col-lg-12
          .box
            .box-header PostgreSQL Database Size
            .box-body
              = react_component("AreaChart", { :refresh => 15,
                                               :legend => "bottom",
                                               :curve => false,
                                               :stacked => true,
                                               :library => { :chart => { :zoomType => "x" },
                                                             :xAxis => { :type => 'datetime',
                                                                         :labels => { :format => '{value:%I:%M %p}' } },
                                                             :tooltip => { :pointFormat => '<span style="color:{series.color}">{series.name}</span>: {point.y:.0f}b ({point.percentage:.0f}%)<br/>',
                                                                           :shared => true } },
                                               :data => "/api/v1/metrics?q=avg:system.db.stats{metric:size} by {timestamp,dbname}"} )


      .row
        .col-lg-4
          .box
            .box-header System Memory
            .box-body
              = react_component("AreaChart", { :refresh => 15,
                                               :legend => "bottom",
                                               :curve => false,
                                               :stacked => true,
                                               :library => { :chart => { :zoomType => "x" },
                                                             :xAxis => { :type => 'datetime',
                                                                         :labels => { :format => '{value:%I:%M %p}' } },
                                                             :tooltip => { :pointFormafst => '<span style="color:{series.color}">{series.name}</span>: {point.y:.0f}b ({point.percentage:.0f}%)<br/>',
                                                                           :shared => true } },
                                               :data => "/api/v1/metrics?q=avg:system.memory.stats{host:#{@host.value}} by {timestamp,metric}"} )

        .col-lg-4
          .box
            .box-header System Network
            .box-body
              = react_component("AreaChart", { :refresh => 15,
                                               :legend => "bottom",
                                               :curve => false,
                                               :stacked => true,
                                               :library => { :chart => { :zoomType => "x" },
                                                             :xAxis => { :type => 'datetime',
                                                                         :labels => { :format => '{value:%I:%M %p}' } },
                                                             :tooltip => { :pointFormat => '<span style="color:{series.color}">{series.name}</span>: {point.y:.0f}b ({point.percentage:.0f}%)<br/>',
                                                                           :shared => true } },
                                               :data => "/api/v1/metrics?q=avg:system.network.stats{host:#{@host.value}} by {timestamp,metric}"} )

        .col-lg-4
          .box
            .box-header System Disk
            .box-body
              = react_component("AreaChart", { :refresh => 15,
                                               :legend => "bottom",
                                               :curve => false,
                                               :stacked => true,
                                               :library => { :chart => { :zoomType => "x" },
                                                             :xAxis => { :type => 'datetime',
                                                                         :labels => { :format => '{value:%I:%M %p}' } },
                                                             :tooltip => { :pointFormat => '<span style="color:{series.color}">{series.name}</span>: {point.y:.0f}b ({point.percentage:.0f}%)<br/>',
                                                                           :shared => true } },
                                               :data => "/api/v1/metrics?q=avg:system.disk.stats{host:#{@host.value}} by {timestamp,metric}"} )

      .row
        .col-lg-6
          .box
            .box-header CPU Usage (%)
            .box-body
              = react_component("AreaChart", { :refresh => 15,
                                               :legend => "bottom",
                                               :curve => false,
                                               :points => false,
                                               :library => { :chart => { :zoomType => "x" },
                                                             :plotOptions => { :areaspline => { :stacking => 'percent' } },
                                                             :tooltip => { :pointFormat => '<span style="color:{series.color}">{series.name}</span> {point.percentage:.0f}%<br/>',
                                                                           :shared => true },
                                                             :xAxis => { :type => 'datetime',
                                                                         :labels => { :format => '{value:%I:%M %p}' } } },
                                               :data => "/api/v1/metrics?q=avg:system.cpu.stats{host:#{@host.value}} by {timestamp,metric}"} )
        .col-lg-6
          .box
            .box-header System Load (1, 5, 15 minute)
            .box-body
              = react_component("LineChart", { :refresh => 15,
                                               :legend => "bottom",
                                               :points => false,
                                               :curve => false,
                                               :library => { :chart => { :zoomType => "x" },
                                                             :xAxis => { :type => 'datetime',
                                                                         :labels => { :format => '{value:%I:%M %p}' } },
                                                             :tooltip => { :pointFormat => '<span style="color:{series.color}">{series.name}</span>: {point.y:.2f}<br/>',
                                                                           :shared => true } },
                                               :data => "/api/v1/metrics?q=avg:system.load.stats{host:#{@host.value}} by {timestamp,metric}"} )
