.box
  .box-header
    %h3.box-title
      = @span.operation_name
      Span Detail
      (#{number_with_precision(@span.duration, :precision => 2)}ms,
      #{number_with_precision(@span.exclusive_duration, :precision => 2)}ms exclusive)
    .box-tools.pull-right
      = button_tag :class => "btn btn-box-tool close-span-detail" do
        %i.fa.fa-times
  .box-body
    .nav-tabs-custom
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#span-overview"} Overview
        - if @span.source.present?
          %li
            %a{"data-toggle" => "tab", :href => "#span-source"} Source
        - if (backtrace = @span.backtrace) && backtrace.backtrace.present?
          %li
            %a{"data-toggle" => "tab", :href => "#span-backtrace"} Backtrace
        - if @span.has_error?
          %li
            %a{"data-toggle" => "tab", :href => "#span-error"} Error
      .tab-content
        #span-overview.tab-pane.active
          %table.table.table-striped.table-condensed
            - @span.tags.sort_by {|k,v| k }.each do |key, value|
              %tr
                %td{:width => "200"}
                  %strong
                    = key
                %td
                  = value
        - if @span.source.present?
          #span-source.tab-pane
            = render "shared/render_source", :source => @span.source
        - if @span.backtrace.present?
          #span-backtrace.tab-pane
            %pre.text-wrap= @span.backtrace.backtrace.join("\n")
        - if @span.has_error?
          #span-error.tab-pane
            %strong
              = "#{@span.error.error_message.error_class}:"
              = @span.error.message
            %pre.text-wrap= @span.error.backtrace.join("\n")
