/ Content Header (Page header)
%section.content-header
  %h1
    Users
  %ol.breadcrumb
    %li.active Users
%section.content
  .row
    .col-lg-12.connectedSortable
      .box
        .box-header
          %h3.box-title Users
          .box-tools
            = link_to dynamic_url(:user, action: :new), :class => "btn btn-primary" do
              %i.fa.fa-plus
              New User
        .box-body
          %table.table.table-condensed
            %tr
              %th Name
              %th Email
              %th{:width => "50"}
              %th{:width => "50"}
            - @users.each do |user|
              %tr
                %td= user.name
                %td= user.email
                %td= link_to 'Edit', dynamic_url(:user_registration, action: :edit), :class => "btn btn-default" if user == current_user
                %td= link_to 'Destroy', dynamic_url(user), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"
