<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <h4>
      <%= link_to 'Overview', application_overview_path(@current_application) %> >
      <%= link_to 'All Transactions', application_transactions_path(@current_application) %> >
      <%= link_to @transaction.name, application_transaction_path(@current_application, @transaction) %> >
      <%= @transaction_sample.id %>
    </h4>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <table>
      <%= render @transaction_sample, :depth => 0 %>
    </table>
  </div>
</div>

<% if false %>
<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <% total_duration = @transaction_samples.sum(:duration) %>
    <table>
    <% @transaction_samples.each do |transaction_sample| %>
      <tr>
        <td class="small-6 medium-6 large-6">
          <% if transaction_sample.action.eql?("sql") %>
            <%= transaction_sample.payload["name"] %><br />
            <%= transaction_sample.payload["sql"] %>
          <% elsif transaction_sample.category.eql?("action_view") %>
            <%= transaction_sample.payload["identifier"] %>
          <% else %>
            <%= transaction_sample.name %>
          <% end %>
        </td>
        <td>
          <div class="progress">
            <div class="progress-meter" style="width: <%= transaction_sample.exclusive_duration / total_duration * 100.to_f %>%"></div>
          </div>
        </td>
        <td>
          <%= transaction_sample.exclusive_duration %>
        </td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
<% end %>