<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">AppPerf</li>
      <% if @current_user %>
        <li><%= link_to "Dashboard", dashboard_path %></li>
        <% if @applications %>
        <li>
          <%= link_to "Applications", applications_path %>
          <ul class="menu vertical">
          <% @applications.each do |application| %>
            <li><%= link_to application.name, application_overview_path(application) %></li>
          <% end %>
          </ul>
        </li>
        <% else %>
        <li><%= link_to "Applications", applications_path %></li>
        <% end %>
        <li><%= link_to 'Logout', user_session_path, :method => :delete %></li>
      <% end %>
    </ul>
  </div>

  <% if @current_user && @current_application %>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <%= link_to params[:range] || "Last 10 minutes", '#' %>
        <ul class="menu vertical">
          <li><%= link_to 'Last 10 minutes', :range => "Last 10 minutes", :period => "minute", :last => 10 %></li>
          <li><%= link_to 'Last hour', :range => "Last hour", :period => "minute", :last => 60 %></li>
          <li><%= link_to 'Last day', :range => "Last day", :period => "hour", :last => 24 %></li>
        </ul>
      </li>
    </ul>
  </div>
  <% end %>
</div>
