<ul class="menu vertical">
  <li class="menu-text"><%= @current_application.name %></li>
</ul>
<ul class="menu vertical">
  <li class="menu-text">Monitoring</li>
  <li><%= link_to 'Overview', application_overview_path(@current_application) %></li>
  <li><%= link_to "Transactions", application_transactions_path(@current_application) %></li>
  <li><%= link_to "Database", application_database_index_path(@current_application) %></li>
</ul>

<ul class="menu vertical">
  <li class="menu-text">Events</li>
  <li><%= link_to 'Errors', application_errors_path(@current_application) %></li>
</ul>