<ul class="menu vertical">
  <li class="menu-text">Monitoring</li>
  <li><%= link_to 'Overview', application_overview_path(@application) %></li>
  <li><%= link_to "Transactions", application_transactions_path(@application) %></li>
  <li><%= link_to "Database", application_database_index_path(@application) %></li>
  <li><%= link_to "Raw Data", application_raw_data_path(@application) %></li>
</ul>

<ul class="menu vertical">
  <li class="menu-text">Events</li>
  <li><%= link_to 'Errors', application_errors_path(@application) %></li>
</ul>