<% Array(source).each do |source_extract| %>
<pre class="source small">
<% if source_extract["code"] %>
Extracted source (around line #<%= source_extract["line_number"] %> of <%= source_extract["file"] %>):

<% source_extract["code"].each do |line, source| -%>
<div class="line <%= "active" if line.to_i == source_extract["line_number"].to_i -%>"><%= line %>: <%= source -%></div>
<% end -%>
<% end %>
</pre>
<% end %>
