/ Content Header (Page header)
%section.content-header
  %h1
    Error Instances
  %ol.breadcrumb
    %li= link_to "Errors", dynamic_url(@current_application, :errors)
    %li.active= @error_message.error_class
%section.content
  .row
    .col-lg-12.connectedSortable
      .box
        .box-header
          %h3.box-title Error Instaces
        .box-body
          %table.table.table-condensed
            %tr
              %th{:width => "100"}
              %th Message
              %th Trace
              %th{:width => "200"} Errored At
            - @error_instances.each do |error_instance|
              %tr
                %td= link_to 'View Error', dynamic_url(@current_application, :error_instance, error_id: @error_message, id: error_instance)
                %td= error_instance.message
                %td
                  - if error_instance.span
                    = link_to error_instance.span.tag("url"), dynamic_url(@current_application, :trace, :id => error_instance.span.trace_id, :span_id => error_instance.span.id)
                %td= error_instance.created_at
