<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Error Instances
  </h1>
  <ol class="breadcrumb">
    <li><%= link_to "Errors", application_errors_path(@current_application) %></li>
    <li class="active"><%= @error_message.error_class %></li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-lg-12 connectedSortable">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Error Instaces</h3>
        </div>
        <div class="box-body">
          <table class="table">
            <tr>
              <th width="100"></th>
              <th>Message</th>
              <th width="200">Errored At</th>
            </tr>
            <% @error_instances.each do |error_instance| %>
              <tr>
                <td><%= link_to 'View Error', application_error_instance_path(@current_application, @error_message, error_instance) %></td>
                <td><%= error_instance.message %></td>
                <td><%= error_instance.created_at %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
