<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <h4>
      <%= link_to 'Database', application_database_index_path(@current_application) %> >
      <%= link_to @database_sample.payload[:end_point], application_database_samples_path(@current_application, @database_call) %> >
      #<%= @database_sample.id %>
    </h4>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <table>
      <tr>
        <td width="20"><%= @database_sample.id %></td>
        <td>
            <%= @database_sample.payload[:name] %><br />
            <%= @database_sample.payload[:sql] %><br />
            <% if @database_sample.payload[:backtrace].present? %>
            <pre><%= @database_sample.payload[:backtrace].join("\n") %></pre>
            <% end %>
        </td>
        <td width="50"><%= @database_sample.duration %></td>
      </tr>

    </table>
  </div>
</div>
