/ Content Header (Page header)
%section.content-header
  %h1
    Trace Details
  %ol.breadcrumb
    %li= link_to "Traces", organization_application_traces_path(@current_organization, @current_application)
    %li.active= @trace.root_sample.url
%section.content
  .row
    .col-lg-12.connectedSortable
      .box
        .box-header
          %h3.box-title
            Transaction Sample #{@trace.duration.to_f}
        .box-body
          #visualization{:data => { :sample_id => @sample ? @sample.id : nil }}
          :javascript
            function setSelection(sample_id) {
              if(sample_id) {
                $("#sample").load("/organizations/#{@current_organization.id}/applications/#{@current_application.id}/samples/" + sample_id);
              }
              else {
                $("#sample").load("/organizations/#{@current_organization.id}/applications/#{@current_application.id}/traces/#{@trace.trace_key}/database");
              }
            }
            groups = []
            items = []
            group_index = 0
            item_index = 0

            var groups = new vis.DataSet(#{@groups.to_json.html_safe});
            var items = new vis.DataSet(#{@items.to_json.html_safe});

            var container = document.getElementById('visualization');
            var options = {
              groupOrder: function (a, b) {
                return a.value - b.value;
              },
              order: function(a, b) {
                return a.id - b.id;
              },
              //min: #{@trace.timestamp.to_f * 1000},
              //max: #{@trace.timestamp.to_f * 1000 + @trace.duration * 1000},
              margin: {
                  item : {
                      horizontal : 0
                  }
              },
              format: {
                minorLabels: {
                  millisecond:'SSS',
                  second:     's',
                  minute:     'h:mm A',
                  hour:       'h:mm A',
                  weekday:    'ddd D',
                  day:        'D',
                  month:      'MMM',
                  year:       'YYYY'
                },
                majorLabels: {
                  millisecond:'h:mm:ss A',
                  second:     'D MMMM h:mm A',
                  minute:     'ddd D MMMM',
                  hour:       'ddd D MMMM',
                  weekday:    'MMMM YYYY',
                  day:        'MMMM YYYY',
                  month:      'YYYY',
                  year:       ''
                }
              }
            };

            var timeline = new vis.Timeline(container);
            timeline.on('select', function (properties) {
              setSelection(properties.items[0]);
            });
            timeline.setOptions(options);
            timeline.setGroups(groups);
            timeline.setItems(items);

            $(document).ready(function() {
              var sample_id = $("#visualization").data("sample-id");
              if(sample_id) {
                timeline.setSelection([sample_id]);
                setSelection(sample_id);
              }
            });
      #sample= render "database"
