/ Content Header (Page header)
%section.content-header
  %h1
    Overview
  %ol.breadcrumb.breadcrumb-as-navigation
    %li.active View Past:
    - Reporter::PAST_OPTIONS.each do |option|
      %li= link_to option[:label], dynamic_report_url(:past => option[:past])
- if selected_filters.present?
  %section.content-header
    - selected_filters.each_pair do |key, value|
      = link_to dynamic_report_url(:without => key), :class => "btn btn-info btn-sm", :title => value do
        = key
        \: #{truncate(value, :length => 40)}
        %i.fa.fa-remove
/ Main content
%section.content
  .row
    %section.col-lg-12.connectedSortable
      .box
        .box-header
          %i.fa.fa-clock
          %h3.box-title Average Request Time
        .box-body
          #average-request-time.dynamic-chart{"data-duration" => "15000", "data-legend" => "#average-request-time-legend", "data-unit" => "ms", "data-url" => "#{dynamic_report_url({}, { :controller => "reports", :action => "show", :application_id => @current_application, :id => "average_duration" })}", :style => "height: 300px;"}
          #average-request-time-legend.chart-legend
  .row
    %section.col-lg-6.connectedSortable
      .box
        .box-header
          %h3.box-title Urls
          .box-tools.pull-right
            .btn-group{"data-toggle" => "btn-toggle"}
              = link_to "Freq X Avg", dynamic_report_url({}, { :controller => "overview", :action => "urls" }), :data => { :remote_element => "#urls", :order => "FreqAvg" }, :class => "btn btn-default btn-sm active"
              = link_to "Freq", dynamic_report_url({}, { :controller => "overview", :action => "urls" }), :data => { :remote_element => "#urls", :order => "Freq" }, :class => "btn btn-default btn-sm"
              = link_to "Avg", dynamic_report_url({}, { :controller => "overview", :action => "urls" }), :data => { :remote_element => "#urls", :order => "Avg" }, :class => "btn btn-default btn-sm"
        #urls.box-body{"data-remote" => "true", "data-url" => "#{dynamic_report_url({}, { :controller => "overview", :action => "urls" })}"}
        .box-footer
          Show 
          \#{link_to "10", dynamic_report_url({}, { :controller => "overview", :action => "urls" }), :data => { :remote_element => "#urls", :limit => 10 }}  
          \#{link_to "20", dynamic_report_url({}, { :controller => "overview", :action => "urls" }), :data => { :remote_element => "#urls", :limit => 20 }}  
          \#{link_to "50", dynamic_report_url({}, { :controller => "overview", :action => "urls" }), :data => { :remote_element => "#urls", :limit => 50 }}
      .box
        .box-header
          %h3.box-title Controllers
          .box-tools.pull-right
            .btn-group{"data-toggle" => "btn-toggle"}
              = link_to "Freq X Avg", dynamic_report_url({}, { :controller => "overview", :action => "controllers" }), :data => { :remote_element => "#controllers", :order => "FreqAvg" }, :class => "btn btn-default btn-sm active"
              = link_to "Freq", dynamic_report_url({}, { :controller => "overview", :action => "controllers" }), :data => { :remote_element => "#controllers", :order => "Freq" }, :class => "btn btn-default btn-sm"
              = link_to "Avg", dynamic_report_url({}, { :controller => "overview", :action => "controllers" }), :data => { :remote_element => "#controllers", :order => "Avg" }, :class => "btn btn-default btn-sm"
        #controllers.box-body{"data-remote" => "true", "data-url" => "#{dynamic_report_url({}, { :controller => "overview", :action => "controllers" })}"}
        .box-footer
          Show 
          \#{link_to "10", dynamic_report_url({}, { :controller => "overview", :action => "controllers" }), :data => { :remote_element => "#controllers", :limit => 10 }}  
          \#{link_to "20", dynamic_report_url({}, { :controller => "overview", :action => "controllers" }), :data => { :remote_element => "#controllers", :limit => 20 }}  
          \#{link_to "50", dynamic_report_url({}, { :controller => "overview", :action => "controllers" }), :data => { :remote_element => "#controllers", :limit => 50 }}
      .box
        .box-header
          %h3.box-title Hosts
          .box-tools.pull-right
            .btn-group{"data-toggle" => "btn-toggle"}
              = link_to "Freq X Avg", dynamic_report_url({}, { :controller => "overview", :action => "hosts" }), :data => { :remote_element => "#hosts", :order => "FreqAvg" }, :class => "btn btn-default btn-sm active"
              = link_to "Freq", dynamic_report_url({}, { :controller => "overview", :action => "hosts" }), :data => { :remote_element => "#hosts", :order => "Freq" }, :class => "btn btn-default btn-sm"
              = link_to "Avg", dynamic_report_url({}, { :controller => "overview", :action => "hosts" }), :data => { :remote_element => "#hosts", :order => "Avg" }, :class => "btn btn-default btn-sm"
        #hosts.box-body{"data-remote" => "true", "data-url" => "#{dynamic_report_url({}, { :controller => "overview", :action => "hosts" })}"}
        .box-footer
          Show 
          \#{link_to "10", dynamic_report_url({}, { :controller => "overview", :action => "hosts" }), :data => { :remote_element => "#hosts", :limit => 10 }}  
          \#{link_to "20", dynamic_report_url({}, { :controller => "overview", :action => "hosts" }), :data => { :remote_element => "#hosts", :limit => 20 }}  
          \#{link_to "50", dynamic_report_url({}, { :controller => "overview", :action => "hosts" }), :data => { :remote_element => "#hosts", :limit => 50 }}
      .box
        .box-header
          %h3.box-title Database Queries
          .box-tools.pull-right
            .btn-group{"data-toggle" => "btn-toggle"}
              = link_to "Freq X Avg", dynamic_report_url({}, { :controller => "overview", :action => "database_calls" }), :data => { :remote_element => "#database_calls", :order => "FreqAvg" }, :class => "btn btn-default btn-sm active"
              = link_to "Freq", dynamic_report_url({}, { :controller => "overview", :action => "database_calls" }), :data => { :remote_element => "#database_calls", :order => "Freq" }, :class => "btn btn-default btn-sm"
              = link_to "Avg", dynamic_report_url({}, { :controller => "overview", :action => "database_calls" }), :data => { :remote_element => "#database_calls", :order => "Avg" }, :class => "btn btn-default btn-sm"
        #database_calls.box-body{"data-remote" => "true", "data-url" => "#{dynamic_report_url({}, { :controller => "overview", :action => "database_calls" })}"}
        .box-footer
          Show 
          \#{link_to "10", dynamic_report_url({}, { :controller => "overview", :action => "database_calls" }), :data => { :remote_element => "#database_calls", :limit => 10 }}  
          \#{link_to "20", dynamic_report_url({}, { :controller => "overview", :action => "database_calls" }), :data => { :remote_element => "#database_calls", :limit => 20 }}  
          \#{link_to "50", dynamic_report_url({}, { :controller => "overview", :action => "database_calls" }), :data => { :remote_element => "#database_calls", :limit => 50 }}
    %section.col-lg-6.connectedSortable
      .box
        .box-header
          %h3.box-title Layers
          .box-tools.pull-right
            .btn-group{"data-toggle" => "btn-toggle"}
              = link_to "Freq X Avg", dynamic_report_url({}, { :controller => "overview", :action => "layers" }), :data => { :remote_element => "#layers", :order => "FreqAvg" }, :class => "btn btn-default btn-sm active"
              = link_to "Freq", dynamic_report_url({}, { :controller => "overview", :action => "layers" }), :data => { :remote_element => "#layers", :order => "Freq" }, :class => "btn btn-default btn-sm"
              = link_to "Avg", dynamic_report_url({}, { :controller => "overview", :action => "layers" }), :data => { :remote_element => "#layers", :order => "Avg" }, :class => "btn btn-default btn-sm"
        #layers.box-body{"data-remote" => "true", "data-url" => "#{dynamic_report_url({}, { :controller => "overview", :action => "layers" })}"}
        .box-footer
          Show 
          \#{link_to "10", dynamic_report_url({}, { :controller => "overview", :action => "layers" }), :data => { :remote_element => "#layers", :limit => 10 }}  
          \#{link_to "20", dynamic_report_url({}, { :controller => "overview", :action => "layers" }), :data => { :remote_element => "#layers", :limit => 20 }}  
          \#{link_to "50", dynamic_report_url({}, { :controller => "overview", :action => "layers" }), :data => { :remote_element => "#layers", :limit => 50 }}
      .box
        .box-header
          %h3.box-title Traces (Most Consuming)
        #traces.box-body{"data-remote" => "true", "data-url" => "#{dynamic_report_url({}, { :controller => "overview", :action => "traces" })}"}
        .box-footer
          Show 
          \#{link_to "10", dynamic_report_url({}, { :controller => "overview", :action => "traces" }), :data => { :remote_element => "#traces", :limit => 10 }}  
          \#{link_to "20", dynamic_report_url({}, { :controller => "overview", :action => "traces" }), :data => { :remote_element => "#traces", :limit => 20 }}  
          \#{link_to "50", dynamic_report_url({}, { :controller => "overview", :action => "traces" }), :data => { :remote_element => "#traces", :limit => 50 }}
