<% set_title "System Metrics Administration" -%>
<% set_page_title "Administration" -%>
<% if @categories.present? -%>
  <div id="menu-bar">
    <%= form_tag "#{metrics_path}/all", :method => :delete do -%>
      <%= submit_tag 'Delete All' %>
    <% end -%>
    <h2>Metrics</h2>
  </div>

  <table>
    <thead>
      <tr><th>Category</th><th>Count</th><th>Action</th></tr>
    <thead>
    <tbody>
    <% for category in @categories -%>
      <tr>
        <td><%= category.category.titleize %></td>
        <td><%= category.count %></td>
        <td>
        <%= form_tag metric_path(category.category), :method => :delete do %>
          <%= submit_tag 'Delete Category' %>
        <% end -%>
        </td>
      </tr>
    <% end -%>
    </tbody>
  </table>
<% else -%>
  <p>No metrics found</p>
<% end -%>
