<% set_title "System Metric details for #{@metric.name}:#{@metric.id}" -%>
<% set_page_title "#{@metric.name}:#{@metric.id}" -%>

<div id="metric-details">
  <h2><%= @metric.duration %> ms</h2>
  <dl>
    <dt>When</dt>
    <dd><%= distance_of_time_in_words_to_now @metric.started_at %> ago</dd>
  <% @metric.payload.each do |key, value| -%>
    <dt><%= key.to_s.titleize %></dt>
    <dd><%= value.kind_of?(String) ? value : value.inspect %></dd>
  <% end -%>
  </dl>
</div>

<div id="metric-children">
  <h2>Child Metrics</h2>
  <%= render :partial => "metric_table",
    :locals => {
      :metrics => @metric.children.order('duration DESC'),
      :include_children => true,
      :columns => [:name, :identifier, :duration]
    } %>
</div>

<div class="clear"></div>
