= form_for(@organization) do |f|
  - if @organization.errors.any?
    #error_explanation
      %h2
        = pluralize(@organization.errors.count, "error")
        prohibited this organization from being saved:
      %ul
        - @organization.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :name
    = f.text_field :name, :class => "form-control"

  .form-group
    = f.submit :class => "btn btn-primary"
