<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <h4>
      <%= link_to 'All', application_overview_path(@application) %> >
      <%= link_to @transaction.end_point, application_transactions_path(@application, :filter => @transaction.end_point) %>
      > <%= @transaction.id %>
    </h4>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <h6>Average Request Time</h6>
    <div id="average-duration_chart" class="dynamic-chart" data-height="300px" data-url="<%= application_report_path(@application, :id => "average_duration", :transaction_id => @transaction.id) %>" data-duration="15000">
      <i class="fa fa-spinner fa-spin fa-5x"></i>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <% total_duration = @transaction_samples.sum(:duration) %>
    <table>
    <% @transaction_samples.sort_by(&:duration).reverse.each do |transaction_sample| %>
      <tr>
        <td class="small-4 medium-4 large-4">
          <% if transaction_sample.action.eql?("sql") %>
            <%= transaction_sample.payload["name"] %>
          <% elsif transaction_sample.category.eql?("action_view") %>
            <%= transaction_sample.payload["identifier"] %>
          <% else %>
            <%= transaction_sample.name %>
          <% end %>
        </td>
        <td>
          <div class="progress">
            <div class="progress-meter" style="width: <%= transaction_sample.duration / total_duration * 100.to_f %>%"></div>
          </div>
        </td>
        <td>
          <%= transaction_sample.exclusive_duration %>
        </td>
      </tr>
    <% end %>
    </table>
  </div>
</div>