= form_for(form_route(@current_application, @deployment)) do |f|
  .box-body
    - if @deployment.errors.any?
      #error_explanation
        %h2
          = pluralize(@deployment.errors.count, "error")
          prohibited this application from being saved:
        %ul
          - @deployment.errors.full_messages.each do |message|
            %li= message
    .form-group
      = f.label :title
      = f.text_field :title, :class => "form-control"
    .form-group
      = f.label :description
      = f.text_field :description, :class => "form-control"
    .form-group
      = f.label :event_time
      .input-group
        .input-group-addon
          %i.fa.fa-clock-o
        = f.text_field :event_time, :class => "form-control pull-right singledatetime"
  .box-footer
    = f.submit :class => "btn btn-primary"
