/ Content Header (Page header)
%section.content-header
  %h1
    Traces
  %ol.breadcrumb
    %li= link_to 'Overview', dynamic_url(@current_application, :overview)
    %li.active Traces
/ Main content
%section.content
  .row
    .col-lg-12
      = paginate @traces
    .col-lg-12.connectedSortable
      .box
        .box-header
          %h3.box-title Traces
        .box-body
          %table.table.table-condensed
            %tr
              %th URL
              %th.text-center{:width => "200"} Duration (ms)
              %th.text-center{:width => "200"}
            - @traces.each do |trace|
              %tr
                %td.ellipsis
                  = link_to (trace.root_span ? trace.root_span.tag("http.url") : trace.trace_key), dynamic_url(@current_application, :trace,  :id => trace.trace_key)
                %td.text-center= number_with_precision(trace.duration, :precision => 2)
                %td.text-center
                  = time_ago_in_words(trace.timestamp)
                  ago
