/ Content Header (Page header)
%section.content-header
  %h1
    Traces
  %ol.breadcrumb
    %li= link_to 'Overview', application_overview_path(@current_application)
    %li.active Traces
/ Main content
%section.content
  .row
    .col-lg-12
      = paginate @traces
    .col-lg-12.connectedSortable
      .box
        .box-header
          %i.fa.fa-clock
          %h3.box-title Urls
        .box-body
          %table.table.table-condensed
            %tr
              %th URL
              %th.text-center{:width => "200"} Duration (ms)
              %th.text-center{:width => "200"}
            - @traces.each do |trace|
              %tr
                %td.ellipsis
                  = link_to trace.url, application_trace_path(@current_application, :id => trace.trace_key)
                  (#{trace.transaction_sample_data_count.to_i})
                %td.text-center= number_with_precision(trace.duration, :precision => 2)
                %td.text-center
                  = time_ago_in_words(trace.timestamp)
                  ago
