<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Trace
  </h1>
  <ol class="breadcrumb">
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-lg-12 connectedSortable">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Transaction Sample <%= @trace.duration.to_f %></h3>
        </div>
        <div class="box-body">
          <div id="visualization"></div>
          <script>
            function setSelection(sample_id) {
              if(sample_id) {
                $("#sample").load("/applications/<%= @current_application.id %>/samples/" + sample_id);
              }
            }
            groups = []
            items = []
            group_index = 0
            item_index = 0

            var groups = new vis.DataSet(<%= @groups.to_json.html_safe %>);
            var items = new vis.DataSet(<%= @items.to_json.html_safe %>);

            var container = document.getElementById('visualization');
            var options = {
              groupOrder: function (a, b) {
                return a.value - b.value;
              },
              order: function(a, b) {
                return a.id - b.id;
              }
            };

            var timeline = new vis.Timeline(container);
            timeline.on('select', function (properties) {
              setSelection(properties.items[0]);
            });
            timeline.setOptions(options);
            timeline.setGroups(groups);
            timeline.setItems(items);

            $(document).ready(function() {
              <% if @sample %>
              timeline.setSelection([<%= @sample.id %>]);
              setSelection(<%= @sample.id %>);
              <% end %>
            });
          </script>
        </div>
      </div>

      <div id="sample">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Database Calls</h3>
          </div>
          <div class="box-body">
            <table class="table">
              <tr>
                <th>Query</th>
                <th class="text-center">Count</th>
                <th class="text-center">Avg</th>
                <th class="text-center">Total</th>
              </tr>
              <% @database_calls.sort_by(&:total_duration).reverse.each do |database_call| %>
              <tr>
                <td class="ellipsis"><%= database_call.query %></td>
                <td width="100" class="text-center"><%= database_call.count %></td>
                <td width="100" class="text-center"><%= number_with_precision(database_call.avg_duration, :precision => 2) %>ms</td>
                <td width="100" class="text-center"><%= number_with_precision(database_call.total_duration, :precision => 2) %>ms</td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
