<% if @filter %>
<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <h4>
      <%= link_to 'All', application_reports_path(@application) %> >
      <%= link_to_if @transaction_metric, @filter, application_reports_path(@application, :filter => @filter) %>
      <% if @metric_id %>
      > <%= @metric_id %>
      <% end %>
    </h4>
  </div>
</div>

<% end %>
<div class="row">
  <div class="small-8 medium-8 large-8 columns">
    <div class="row">
      <div class="small-12 medium-12 large-12 columns">
        <div id="average-duration_chart" class="dynamic-chart" data-height="300px" data-url="<%= application_report_path(@application, :id => "average_duration", :filter => @filter, :metric_id => @metric_id) %>" data-duration="15000">
          <i class="fa fa-spinner fa-spin fa-5x"></i>
        </div>
      </div>
    </div>

    <% if @transaction_metric_samples.present? %>
    <div class="row">
      <div class="small-12 medium-12 large-12 columns">
        <% total_duration = @transaction_metric_samples.sum(:duration) %>
        <table>
        <% @transaction_metric_samples.sort_by(&:duration).reverse.each do |transaction_metric| %>
          <tr>
            <td class="small-4 medium-4 large-4">
              <% if transaction_metric.action.eql?("sql") %>
                <%= transaction_metric.payload["name"] %>
              <% elsif transaction_metric.category.eql?("action_view") %>
                <%= transaction_metric.payload["identifier"] %>
              <% else %>
                <%= transaction_metric.name %>
              <% end %>
            </td>
            <td>
              <div class="progress">
                <div class="progress-meter" style="width: <%= transaction_metric.duration / total_duration * 100.to_f %>%"></div>
              </div>
            </td>
          </tr>
        <% end %>
        </table>
      </div>
    </div>
    <% end %>

    <% if false %>
    <div class="row">
      <div class="small-6 medium-6 large-6 columns">
        <h6>Memory Usage</h6>
        <div id="memory_physical_chart" class="dynamic-chart" data-height="300px" data-url="<%= application_report_path(@application, :id => "memory_physical", :filter => @filter, :metric_id => @metric_id) %>" data-duration="15000">
          <i class="fa fa-spinner fa-spin fa-5x"></i>
        </div>
      </div>

      <div class="small-6 medium-6 large-6 columns">
        <h6>GC Total Objects</h6>
        <div id="gc_total_objects_chart" class="dynamic-chart" data-height="300px" data-url="<%= application_report_path(@application, :id => "gc_total_objects", :filter => @filter, :metric_id => @metric_id) %>" data-duration="15000">
          <i class="fa fa-spinner fa-spin fa-5x"></i>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="small-4 medium-4 large-4 columns">
    <% if @transaction_metrics && @transaction_metric.nil? %>
      <div class="row">
        <div class="small-12 medium-12 large-12 columns">
          <table>
            <tbody>
              <% @transaction_metrics.each do |transaction_metric| %>
                <tr>
                  <td><%= link_to transaction_metric.category, application_reports_path(:filter => transaction_metric.category, :metric_id => @filter ? transaction_metric.id : nil) %></td>
                  <td><%= transaction_metric.duration %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </div>
</div>
