<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <% javascript_include_tag "https://www.google.com/jsapi", 'data-turbolinks-track' => true  %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render "shared/header" %>

    <div class="row expanded">
      <div class="medium-10 large-11 medium-push-2 large-push-1 columns">
        <%= yield %>
      </div>

      <% if @current_user && @application && @application.persisted? %>
        <div class="medium-2 large-1 medium-pull-10 large-pull-11 columns">
          <%= render "shared/menu" %>
        </div>
      <% end %>
    </div>


  </body>
</html>
