<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%= title %></title>
    <%= stylesheet_link_tag 'system_metrics/reset',
      'system_metrics/typography',
      :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'system_metrics/print', :media => 'print' %>
    <!--[if lt IE 8]>
    <%= stylesheet_link_tag 'system_metrics/ie', :media => 'screen, projection' %>
    <![endif]-->
    <%= stylesheet_link_tag 'system_metrics/app', :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'system_metrics/bootstrap', :media => 'screen, projection' %>

    <%= csrf_meta_tag %>
  </head>
  <body>
    <div>
      <div id="top">
        <div id="hd">
          <div style="position:absolute;left:2px;">
            <%= image_tag "logo.png" %>
            <h1 style="top:0px;">Track</h1>
          </div>
          <%= render "menu" %>
        </div>
      </div>
      <div id="bd">
        <%= render "title_bar" %>
        <div id="content">
          <%= yield %>
        </div>
      </div>
    </div>
    <div id="ft">
    </div>
  </body>
</html>